{
    "presets": [
      "next/babel"
    ],
    "plugins": [
      "transform-decorators-legacy",
      "babel-plugin-transform-typescript-metadata",
      "babel-plugin-parameter-decorator"
    ]
  }